{% extends '::front/base_front.html.twig' %}

{% block container %}

<input type="hidden" name="check" id="check" value="{{ path('frontend_checkbarrio') }}">
	<section>
		<div class="container">
			<div class="row">
					
					<div class="privacidad"><!--recommended_items-->
						<h2 class="privacidad text-center">Terminos y condiciones</h2>
						<p>
						Los siguientes términos de uso abarcan el uso del sistema <strong>Zona Delivery</strong> y de sus servicios ofrecidos; al utilizar nuestro sitio, usted acepta estos términos completamente siendo estos de carácter obligatorio. Si no está de acuerdo con estos términos de uso, alguna parte de ellos, o las políticas y principios que se adhieren, usted no debe utilizar nuestro sitio.

							Usted debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones y en las Políticas de Privacidad así como en los demás documentos incorporados a los mismos por referencia, previa su inscripción como usuario registrado en <strong>Zona Delivery</strong>.
						
						</p>
	
	<p>
		Este contrato describe los términos y condiciones generales (los "Términos y Condiciones Generales") aplicables al uso de los servicios ofrecidos por <strong>Zona Delivery</strong>, ("los Servicios") dentro de los sitios www.zonadelivery.com y www.zonadelivery.com.ar ("<strong>ZonaDelivery</strong>" o el "sitio"). Cualquier persona (en adelante "Usuario" o en plural "Usuarios") que desee acceder y/o usar el sitio o los Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales respectivos, junto con todas las demás políticas y principios que rigen Zona Delivery y que son incorporados al presente por referencia.
		
	</p>
	<p>
	CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.
	</p>
	<p>
	El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales y en las Políticas de Privacidad así como en los demás documentos incorporados a los mismos por referencia, previo a su registración como Usuario de <strong>ZonaDelivery</strong>, optando de forma expresa por recibir los mismos y toda otra información por medios digitales.
	
	</p>
		<p><strong>1 - CAPACIDAD</strong></p>
	
	<p>
		Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán utilizar los servicios las personas que no tengan esa capacidad, los menores de edad o Usuarios de Zona Delivery que hayan sido suspendidos temporalmente o inhabilitados definitivamente. Si estás registrando un Usuario como Empresa, debes tener capacidad para contratar a nombre de tal entidad y de obligar a la misma en los términos de este Acuerdo.
		
	</p>
	<p><strong>2 - REGISTRACIÓN</strong></p>
	<p>
		Es obligatorio completar el formulario de registración en todos sus campos con datos válidos para poder utilizar los servicios que brinda <strong>ZonaDelivery</strong>. El futuro Usuario deberá completarlo con su información personal de manera exacta, precisa y verdadera ("Datos Personales") y asume el compromiso de actualizar los Datos Personales conforme resulte necesario. El Usuario presta expresa conformidad con que Zona Delivery utilice diversos medios para identificar sus datos personales, asumiendo el Usuario la obligación de revisarlos y mantenerlos actualizados. <strong>ZonaDelivery</strong> NO se responsabiliza por la certeza de los Datos Personales de los Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de sus Datos Personales.
		
	</p>
	<p>A su exclusiva discreción, <strong>ZonaDelivery</strong> podrá requerir una registración adicional a ciertos Usuarios, como requisito para que dichos Usuarios accedan a paquetes especiales de publicaciones. En estos casos, una vez efectuada la registración adicional, las ofertas de venta sólo se publicarán en Zona Delivery a través de alguno de dichos paquetes o bajo las modalidades que <strong>ZonaDelivery</strong> habilite para este tipo de Usuarios. <strong>ZonaDelivery</strong> se reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de corroborar los Datos Personales, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados. En estos casos de inhabilitación, se dará de baja todos los artículos publicados, así como las ofertas realizadas, sin que ello genere algún derecho a resarcimiento.
</p>
	<p>
	El Usuario accederá a su cuenta personal ("Cuenta") mediante el ingreso de su Apodo y clave de seguridad personal elegida ("Clave de Seguridad"). El Usuario se obliga a mantener la confidencialidad de su Clave de Seguridad.
	</p>
	<p>
		La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o posea más de una Cuenta. En caso que <strong>ZonaDelivery</strong> detecte distintas Cuentas que contengan datos coincidentes o relacionados, podrá cancelar, suspender o inhabilitarlas.
		
	</p>
	
	<p>
		El <strong>Usuario</strong> será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del Usuario. El Usuario se compromete a notificar a <strong>ZonaDelivery</strong> en forma inmediata y por medio idóneo y fehaciente, cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma. Se aclara que está prohibida la venta, cesión o transferencia de la Cuenta (incluyendo la reputación) bajo ningún título.
	</p>
	<p>
		<strong>ZonaDelivery</strong> se reserva el derecho de rechazar cualquier solicitud de registración o de cancelar una registración previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.
		
	</p>
	
	<p><strong>3 - MODIFICACIONES DEL ACUERDO</strong></p>
	
	<p>
		<strong>ZonaDelivery</strong> podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los 10 (diez) días de su publicación. Dichas modificaciones serán comunicadas por Zona Delivery a los usuarios que en la Configuración de su Cuenta de Zona Delivery hayan indicado que desean recibir notificaciones de los cambios en estos Términos y Condiciones. Todo usuario que no esté de acuerdo con las modificaciones efectuadas por Zona Delivery podrá solicitar la baja de la cuenta.
		
	</p>
	<p>
		El uso del sitio y/o sus servicios implica la aceptación de estos Términos y Condiciones generales de uso de <strong>ZonaDelivery</strong>.
		
	</p>
	<p><strong>04 - LISTADO DE BIENES</strong></p>
	<p>4.1 Utilización de Plataforma de pago</p>
	<p>
		Al publicar un anuncio en el Sitio, el usuario vendedor consiente expresamente la utilización de Plataforma de pago como una de las formas disponibles para el pago del bien o servicio ofrecido y se obliga a no modificar en nada el precio de venta del bien o servicio si el comprador decidiera utilizar Plataforma de pago. Asimismo, el usuario declara que ha leído, comprendido y aceptado los Términos y Condiciones de utilización de dicho servicio.
		
	</p>
	<p>4.2 Publicación de bienes y/o servicios</p>
	<p>
	El Usuario deberá ofrecer a la venta los bienes y promover los servicios en las categorías y subcategorías apropiadas. Las publicaciones podrán incluir textos descriptivos, gráficos, fotografías y otros contenidos y condiciones pertinentes para la venta del bien o la promoción del servicio, siempre que no violen ninguna disposición de este acuerdo o demás políticas de <strong>ZonaDelivery</strong>. El producto ofrecido por el Usuario Vendedor debe ser exactamente descrito en cuanto a sus condiciones y características relevantes. Se entiende y presume que mediante la inclusión del bien o servicio en <strong>ZonaDelivery</strong>, el Usuario acepta que tiene la intención y el derecho de vender el bien por él ofrecido, o está facultado para ello por su titular y lo tiene disponible para su entrega inmediata. Se establece que los precios de los productos publicados deberán ser expresados con IVA incluido cuando corresponda la aplicación del mismo, y en moneda de curso legal. Zona Delivery podrá remover cualquier publicación cuyo precio no sea expresado de esta forma para evitar confusiones o malos entendidos en cuanto al precio final del producto. Se deja expresamente establecido que ninguna descripción podrá contener datos personales o de contacto, tales como, y sin limitarse a, números telefónicos, dirección de e-mail, dirección postal, direcciones de páginas de Internet que contengan datos como los mencionados anteriormente. En las categorías Rodados y Otros, Inmuebles y Servicios, los datos personales o de contacto deberán agregarse en la sección específicamente prevista para incluir la información sobre el vendedor o anunciante. No podrá publicitarse otros medios de pagos, distintos de los enunciados por Zona Delivery en la página de publicación de artículos, ni tampoco se podrá sugerir o insinuar a los compradores que no utilicen Plataforma de pago y/o alterar las condiciones de compra si el Usuario comprador decidiera utilizar Plataforma de pago. En caso que se infrinja cualquiera de las disposiciones establecidas en esta cláusula, Zona Delivery podrá editar el espacio, solicitar al Usuario que lo edite, o dar de baja la publicación donde se encuentre la infracción sin necesidad de aviso previo.
	
	</p>
	<p>4.3 Inclusión de imágenes y fotografías</p>
	<p>
El usuario puede incluir imágenes y fotografías del producto ofrecido siempre que las mismas se correspondan con el artículo, salvo que se trate de bienes o productos o de servicios que por su naturaleza no permiten esa correspondencia. El usuario declara y garantiza que está facultado para incluir las imágenes y fotografías contenidas en sus publicaciones, siendo responsable por cualquier infracción a derechos de terceros.
	</p>
	<p>
	<strong>ZonaDelivery</strong> podrá impedir la publicación de la fotografía, e incluso del producto, si interpretara, a su exclusivo criterio, que la imagen no cumple con los presentes Términos y Condiciones. Las imágenes y fotografías de artículos publicados bajo la modalidad Premium deberán cumplir con algunos requisitos adicionales como condición para ser expuestas en la Pagina Principal del Sitio Web.
	</p>
	<p>
	El usuario otorga a <strong>ZonaDelivery</strong> una autorización gratuita y sin límite temporal para publicar y/o adaptar las imágenes incluidas en sus publicaciones con fines de clasificación de productos en todos sus sitios, redes sociales y/o por cualquier medio que <strong>ZonaDelivery</strong> utilice para comunicación.
	</p>
	<p>4.4 Artículos Prohibidos</p>
	<p>
	Sólo podrán ser ingresados en las listas de bienes ofrecido y/o servicios promocionados, aquellos cuya venta no se encuentre tácita o expresamente prohibida en los Términos y Condiciones Generales y demás políticas de Zona Delivery o por la ley vigente. Para obtener mayor información sobre artículos o servicios prohibidos, se pueden consultar nuestras Políticas de Artículos Prohibidos de <strong>ZonaDelivery</strong>.
	</p>
	
	<p>4.5 Protección de Propiedad Intelectual</p>
	<p>
	<strong>ZonaDelivery</strong> ha desarrollado un Programa (en adelante, "PPPI") destinado a asegurar que los artículos publicados no infringen los derechos de propiedad intelectual e industrial y cualesquiera otros de terceros. Los participantes del PPPI o quienes sean titulares de derechos podrán identificar y solicitar la remoción de aquellos artículos que a su criterio infrinjan o violen sus derechos. En caso que Zona Delivery sospeche que se está cometiendo o se ha cometido una actividad ilícita o infractora de derechos de propiedad intelectual o industrial, Zona Delivery se reserva el derecho de adoptar todas las medidas que entienda adecuadas, lo que puede incluir dar acceso limitado a los participantes del PPPI y otros titulares de estos derechos a algunos de sus datos personales tal como se describe en las Políticas de Privacidad.
	</p>
	<p>
	Al solicitar la adhesión al PPPI estarás aceptando los Términos y condiciones del programa, y la información que nos proveas tendrá carácter de declaración jurada. 
 	</p>
	
	<p><strong>5 - PRIVACIDAD DE LA INFORMACIÓN</strong></p>
	<p>
	Para utilizar los Servicios ofrecidos por <strong>ZonaDelivery</strong>, los Usuarios deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica. Para mayor información sobre la privacidad de los Datos Personales y casos en los que será revelada la información personal, se pueden consultar nuestras <strong>Políticas de Privacidad</strong>.
	
	</p>
	<p><strong>6 - OBLIGACIONES DE LOS USUARIOS</strong></p>

	<p>6.1 Obligaciones del Comprador</p>
	<p>
Durante el plazo fijado por el <strong>Usuario Vendedor</strong>, los Usuarios interesados realizarán ofertas de compra para los bienes y podrán contactar a los oferentes de los servicios. La oferta de venta se cierra una vez que vence el plazo o se acaban las cantidades estipuladas por el <strong>Vendedor</strong> y la promoción del servicio culmina con el vencimiento del plazo de la publicación.

	</p>
	<p>
		El <strong>Comprador</strong> está obligado a intentar comunicarse con el vendedor y completar la operación si ha realizado una oferta por un artículo publicado bajo la modalidad de "compra inmediata" o si realizó la oferta más alta, en los casos en los que esta modalidad está permitida, salvo que la operación esté prohibida por la ley o los Términos y Condiciones Generales y demás políticas de <strong>ZonaDelivery</strong>, en cuyo caso no estará obligado a concretar la operación.
	</p>
	<p>	
		Al ofertar por un artículo el Usuario acepta quedar obligado por las condiciones de venta incluidas en la descripción del artículo en la medida en que las mismas no infrinjan las leyes o los Términos y Condiciones Generales y demás políticas de <strong>ZonaDelivery</strong>. La oferta de compra es irrevocable salvo en circunstancias excepcionales, tales como que el vendedor cambie sustancialmente la descripción del artículo después de realizada alguna oferta, que exista un claro error tipográfico, o que no pueda verificar la identidad del vendedor.
	</p>
	<p>	
		Las ofertas de compra sólo serán consideradas válidas, una vez que hayan sido procesadas por el sistema informático de <strong>ZonaDelivery.</strong>
	</p>
	<p>	
		Impuestos. Tal como lo establece la normativa fiscal vigente, el comprador debe exigir factura o ticket al vendedor como comprobante de la operación. El vendedor no estará obligado a emitir factura o ticket sólo en el caso de tratarse de una persona física que efectúa ventas ocasionalmente.	
	</p>
	<p>6.2. Obligaciones del Vendedor</p>
	<p>
		El usuario vendedor debe tener capacidad legal para vender el bien objeto de su oferta. Si el usuario vendedor ha recibido al menos una oferta sobre el precio mínimo que estableció, queda obligado a intentar comunicarse con el comprador y completar la operación con el usuario que haya realizado la oferta más alta o la que alcance el precio establecido en la modalidad Compra Inmediata. Solamente en casos excepcionales el vendedor podrá retractarse de la venta, tales como cuando no haya podido acordar con el usuario comprador sobre la forma de pago, de entrega o no sea posible verificar la verdadera identidad o demás información del comprador.
	</p>
	<p>	
		<strong>ZonaDelivery</strong> tendrá el derecho de requerir, conforme los criterios que considere pertinentes, que ciertos usuarios vendedores solamente anuncien sus bienes o servicios en el Sitio Web mediante la utilización de los Servicios de Gestión de Pagos online de Plataforma de pago y/o otras herramientas ofrecidas por <strong>Zona Delivery</strong> para el cobro del bien vendido y de las tarifas por la utilización de los servicios, importando eventualmente en el pago de tarifas aplicables por la utilización de los mismos.
	</p>
	<p>	
		Dado que <strong>ZonaDelivery</strong> es un punto de encuentro entre comprador y vendedor y no participa de las operaciones que se realizan entre ellos, el Vendedor será responsable por todas las obligaciones y cargas impositivas que correspondan por la venta de sus artículos, sin que pudiera imputársele a <strong>ZonaDelivery</strong> algún tipo de responsabilidad por incumplimientos en tal sentido.
	</p>
	<p>	
		Impuestos. Como se menciona anteriormente, <strong>ZonaDelivery</strong> sólo pone a disposición de los usuarios un espacio virtual que les permite comunicarse mediante Internet para encontrar una forma de vender o comprar artículos y/o servicios. <strong>ZonaDelivery</strong> no tiene participación alguna en el proceso de negociación y perfeccionamiento del contrato definitivo entre las partes. Por eso, <strong>ZonaDelivery</strong> no es responsable por el efectivo cumplimiento de las obligaciones fiscales o impositivas establecidas por la ley vigente.
	</p>
	<p>	
		En caso de recibir un reclamo dentro de los 10 días de recibido el producto por cuenta del comprador y debido a la Ley de Defensa del Consumidor, el vendedor deberá aceptar el cambio o devolución del mismo y hacerse cargo de los gastos que esto conlleve, incluyendo los costos de envíos que fueren necesarios. Zona Delivery podrá debitar estos costos, a través del sistema de Plataforma de pago, de la cuenta del vendedor. Si en la operación hubiese sido usado el servicio de Delivery Track, Zona Delivery podrá disponibilizar etiquetas de envíos para que el comprador realice la devolución y debitar el costo de las mismas, como se indicó anteriormente, de la cuenta de Plataforma de pago del vendedor.
	</p>
	<p>	
		En las ventas y/o compras de monedas virtuales (Bitcoins) es necesario que el usuario guarde el código de transacción, ya que <strong>ZonaDelivery</strong> puede pedir el comprobante que certifique la transferencia entre las partes. Si el vendedor y/o comprador no presenta la información requerida, Zona Delivery podrá descontar de la cuenta los valores correspondientes.		
	</p>
	<p><strong>7 - PROHIBICIONES</strong></p>
	<p>
	Los usuarios no podrán: (a) manipular los precios de los artículos; (b) aceptar datos personales proporcionados por otros usuarios a través de la sección de Preguntas y Respuestas y/o algún otro medio (incluyendo pero sin limitar Twitter, Facebook y/o cualquier otra red social); (c) publicar o vender artículos prohibidos por los Términos y Condiciones Generales, demás políticas de <strong>ZonaDelivery</strong> o leyes vigentes; (d) insultar o agredir a otros Usuarios; (e) utilizar su reputación, calificaciones o comentarios recibidos en el sitio de <strong>ZonaDelivery</strong> en cualquier ámbito fuera de <strong>ZonaDelivery</strong>; (f) publicar artículos idénticos en más de una publicación.
	</p>
	<p>
	Este tipo de actividades será investigado por <strong>ZonaDelivery</strong> y el infractor podrá ser sancionado con la suspensión o cancelación de la oferta e incluso de su inscripción como usuario de <strong>ZonaDelivery</strong> y/o de cualquier otra forma que estime pertinente, sin perjuicio de las acciones legales a que pueda dar lugar por la configuración de delitos o contravenciones o los perjuicios civiles que pueda causar a los usuarios oferentes.
	</p>
	<p><strong>8 - VIOLACIONES DEL SISTEMA O BASES DE DATOS</strong></p> 
	<p>
No está permitida ninguna acción o uso de dispositivo, software, u otro medio tendiente a interferir tanto en las actividades y operatoria de <strong>ZonaDelivery</strong> como en las ofertas, descripciones, cuentas o bases de datos de <strong>ZonaDelivery.</strong> Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de propiedad intelectual y/o a las prohibiciones estipuladas en este contrato harán pasible a su responsable de las acciones legales pertinentes, y a las sanciones previstas por este acuerdo, así como lo hará responsable de indemnizar los daños ocasionados.

	</p>
	<p><strong>9 - SANCIONES. Suspensión de operaciones</strong></p>
	<p>
Sin perjuicio de otras medidas, <strong>ZonaDelivery</strong> podrá advertir, suspender en forma temporal o definitivamente la Cuenta de un Usuario o una publicación, aplicar una sanción que impacte negativamente en la reputación de un Usuario, iniciar las acciones que estime pertinentes y/o suspender la prestación de sus Servicios si (a) se quebrantara alguna ley, o cualquiera de las estipulaciones de los Términos y Condiciones Generales y demás políticas de <strong>ZonaDelivery</strong>; (b) si incumpliera sus compromisos como Usuario; (c) si se incurriera a criterio de <strong>ZonaDelivery</strong> en conductas o actos dolosos o fraudulentos; (d) no pudiera verificarse la identidad del Usuario o cualquier información proporcionada por el mismo fuere errónea; (e) <strong>ZonaDelivery</strong> entendiera que las publicaciones u otras acciones pueden ser causa de responsabilidad para el Usuario que las publicó, para <strong>ZonaDelivery</strong> o para los demás Usuarios en general. En el caso de la suspensión de un Usuario, sea temporal o definitiva, todos los artículos que tuviera publicados serán removidos del sistema. También se removerán del sistema las ofertas de compra de bienes ofrecidos en subasta.
	</p>
	
	<p><strong>10 - RESPONSABILIDAD</strong></p>
	<p>
	<strong>ZonaDelivery</strong> sólo pone a disposición de los Usuarios un espacio virtual que les permite ponerse en comunicación mediante Internet para encontrar una forma de vender o comprar servicios o bienes. <strong>ZonaDelivery</strong> no es el propietario de los artículos ofrecidos, no tiene posesión de ellos ni los ofrece en venta. <strong>ZonaDelivery</strong> no interviene en el perfeccionamiento de las operaciones realizadas entre los Usuarios ni en las condiciones por ellos estipuladas para las mismas, por ello no será responsable respecto de la existencia, calidad, cantidad, estado, integridad o legitimidad de los bienes ofrecidos, adquiridos o enajenados por los Usuarios, así como de la capacidad para contratar de los Usuarios o de la veracidad de los Datos Personales por ellos ingresados. Cada Usuario conoce y acepta ser el exclusivo responsable por los artículos que publica para su venta y por las ofertas y/o compras que realiza.
	</p>
	<p>
	Debido a que <strong>ZonaDelivery</strong> no tiene ninguna participación durante todo el tiempo en que el artículo se publica para la venta, ni en la posterior negociación y perfeccionamiento del contrato definitivo entre las partes, no será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Usuarios en el perfeccionamiento de la operación. El Usuario conoce y acepta que al realizar operaciones con otros Usuarios o terceros lo hace bajo su propio riesgo. En ningún caso <strong>ZonaDelivery</strong> será responsable por lucro cesante, o por cualquier otro daño y/o perjuicio que haya podido sufrir el Usuario, debido a las operaciones realizadas o no realizadas por artículos publicados a través de <strong>ZonaDelivery</strong>.
	</p>
	<p>
	<strong>ZonaDelivery</strong> recomienda actuar con prudencia y sentido común al momento de realizar operaciones con otros Usuarios. El Usuario debe tener presentes, además, los riesgos de contratar con menores o con personas que se valgan de una identidad falsa. <strong>ZonaDelivery</strong> NO será responsable por la realización de ofertas y/o operaciones con otros Usuarios basadas en la confianza depositada en el sistema o los Servicios brindados por ZonaDelivery.
	</p>
	<p>
	En caso que uno o más Usuarios o algún tercero inicien cualquier tipo de reclamo o acciones legales contra otro u otros Usuarios, todos y cada uno de los Usuarios involucrados en dichos reclamos o acciones eximen de toda responsabilidad a <strong>ZonaDelivery</strong> y a sus directores, gerentes, empleados, agentes, operarios, representantes y apoderados. Los Usuarios tienen un plazo de 90 días desde la compra para iniciar un reclamo contra otro u otros Usuarios. Una vez vencido este plazo, no podrán iniciar un reclamo desde el sitio de <strong>ZonaDelivery.</strong>
	</p>
	<p>
	En virtud que el usuario vendedor tiene la facultad para eliminar preguntas o impedir a un usuario hacer preguntas u ofertas en sus publicaciones, se deja aclarado que en ese caso, el usuario será el exclusivo responsable por esa decisión y las consecuencias que pudieran acarrear.
	</p>
	<p><strong>11 - ALCANCE DE LOS SERVICIOS DE ZonaDelivery</strong></p>
	<p>
	Este acuerdo no crea ningún contrato de sociedad, de mandato, de franquicia, o relación laboral entre <strong>ZonaDelivery</strong> y el usuario. El usuario reconoce y acepta que Zona Delivery no es parte en ninguna operación, ni tiene control alguno sobre la calidad, seguridad o legalidad de los artículos anunciados, la veracidad o exactitud de los anuncios, la capacidad de los Usuarios para vender o comprar artículos. <strong>ZonaDelivery</strong> no puede asegurar que un usuario completará una operación ni podrá verificar la identidad o datos personales ingresados por los usuarios. <strong>ZonaDelivery</strong> no garantiza la veracidad de la publicidad de terceros que aparezca en el sitio y no será responsable por la correspondencia o contratos que el usuario celebre con dichos terceros o con otros usuarios.
	</p>
	<p><strong>12 - FALLAS EN EL SISTEMA</strong></p>
	<p>
	<strong>ZonaDelivery</strong> no se responsabiliza por cualquier daño, perjuicio o pérdida al usuario causados por fallas en el sistema, en el servidor o en Internet. <strong>ZonaDelivery</strong> tampoco será responsable por cualquier virus que pudiera infectar el equipo del usuario como consecuencia del acceso, uso o examen de su sitio web o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. Los usuarios NO podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet. Zona Delivery no garantiza el acceso y uso continuado o ininterrumpido de su sitio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a <strong>ZonaDelivery</strong>; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. <strong>ZonaDelivery</strong> no será responsable por ningún error u omisión contenidos en su sitio web.
	</p>
	<p><strong>13 - TARIFAS. FACTURACIÓN</strong></p>
	<p>
	El usuario comprador solo deberá pagar a <strong>ZonaDelivery</strong> un costo por la compra realizada que dependerá del medio de pago utilizado o puede ser por monto fijo de acuerdo a membresías vigentes, o si no la cancela antes de los 21 días después de recibir la oferta. Pueden exisitir costos fijos para publicar en rubros especiales que serán informados en cada una de las publicaciones que se confecciones para tal efecto.
	</p>
	<p>
	<strong>ZonaDelivery</strong> se reserva el derecho de tomar las medidas judiciales y extrajudiciales que estime pertinentes para obtener el pago del monto debido.
	</p>
	<p>
	<strong>ZonaDelivery</strong> se reserva el derecho de modificar, cambiar, agregar, o eliminar las tarifas vigentes, en cualquier momento, lo cual será notificado a los Usuarios, en la forma establecida en la Cláusula 3. Sin embargo, <strong>ZonaDelivery</strong> podrá modificar temporalmente la Política de Tarifas y las tarifas por sus servicios por razón de promociones, siendo efectivas estas modificaciones cuando se haga pública la promoción o se realice el anuncio.
	</p>
	<p>
	En caso de haberse facturado cargos que no hubiesen correspondido, el usuario deberá comunicarse con nuestro equipo de Atención al Cliente para resolver dicha cuestión.
	</p>
	<p><strong>14 - SISTEMA DE REPUTACIÓN</strong></p>
	<p>
	Debido a que la verificación de la identidad de los Usuarios en Internet es difícil, <strong>ZonaDelivery</strong> no puede confirmar ni confirma la identidad pretendida de cada Usuario. Por ello el Usuario Vendedor cuenta con un sistema de reputación de Usuarios que es actualizado periódicamente en base a datos vinculados con su actividad en el sitio. Este sistema de reputación, además constará de un espacio donde los Usuarios Compradores podrán hacer comentarios sobre la experiencia de compra. Dichos comentarios serán incluidos bajo exclusiva responsabilidad de los Usuarios que los emitan.
	</p>
	<p>
	<strong>ZonaDelivery</strong> no tiene obligación de verificar la veracidad o exactitud de los mismos y NO se responsabiliza por los dichos allí vertidos por cualquier Usuario, por las ofertas de compras o ventas que los Usuarios realicen teniéndolos en cuenta o por la confianza depositada en las opiniones de los compradores o por cualquier otro comentario expresado dentro del sitio o a través de cualquier otro medio incluido el correo electrónico. <strong>ZonaDelivery</strong> se reserva el derecho de editar y/o eliminar aquellos comentarios que sean considerados inadecuados u ofensivos. <strong>ZonaDelivery</strong> mantiene el derecho de excluir a aquellos Usuarios que sean objeto de comentarios negativos provenientes de fuentes distintas. 
	</p>
	<p><strong>15 - PROPIEDAD INTELECTUAL. ENLACES</strong></p>
	<p>
	Los contenidos de las pantallas relativas a los servicios de <strong>ZonaDelivery</strong> como así también los programas, bases de datos, redes, archivos que permiten al Usuario acceder y usar su Cuenta, son de propiedad de <strong>ZonaDelivery</strong> y están protegidas por las leyes y los tratados internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de <strong>ZonaDelivery.</strong>
	</p>
	<p>
	El Sitio puede contener enlaces a otros sitios web, lo cual no indica que sean propiedad u operados por <strong>ZonaDelivery.</strong> En virtud que <strong>ZonaDelivery</strong> no tiene control sobre tales sitios, NO será responsable por los contenidos, materiales, acciones y/o servicios prestados por los mismos, ni por daños o pérdidas ocasionadas por la utilización de los mismos, sean causadas directa o indirectamente. La presencia de enlaces a otros sitios web no implica una sociedad, relación, aprobación, respaldo de <strong>ZonaDelivery</strong> a dichos sitios y sus contenidos.
	</p>
	<p><strong>16 - INDEMNIDAD</strong></p>
	<p>
	El Usuario mantendrá indemne a <strong>ZonaDelivery</strong>, así como a sus filiales, empresas controladas y/o controlantes, funcionarios, directivos, sucesores, administradores, representantes y empleados, por cualquier reclamo iniciado por otros Usuarios, terceros o por cualquier Organismo, relacionado con sus actividades en el Sitio, el cumplimiento y/o el incumplimiento de los Términos y Condiciones Generales o demás Políticas, así como respecto de cualquier violación de leyes o derechos de terceros.
	</p>
	<p>
	A tal fin, el Usuario faculta a <strong>ZonaDelivery</strong> a: i) intervenir y representarlo en dichos reclamos, pudiendo celebrar los acuerdos transaccionales que considere oportunos y que tiendan a evitar mayores costos y/o evitar eventuales contingencias sin limitación, en su nombre y representación; ii) retener y debitar de su Cuenta de Plataforma de pago los fondos existentes y/o futuros para recuperar los gastos incurridos en los acuerdos, los cuales podrán incluir los honorarios de los letrados intervinientes y las costas judiciales en una cantidad razonable, y/o iii) generar débitos específicos en su facturación.
	</p>
	<p><strong>17 - JURISDICCIÓN Y LEY APICABLE.</strong></p>
	<p>
	Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República Argentina.
	Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será sometida ante la Justicia Nacional Ordinaria.
	</p>
	<p><strong>18 - DOMICILIO</strong></p>
	<p>
	Se fija como domicilio de Zona Delivery la calle Holmberg 3507, C1430DSP - Capital Federal, República Argentina.
	</p>
	<p>
	Si tienes alguna duda sobre los Términos y Condiciones Generales o demás políticas y principios que rigen <strong>ZonaDelivery</strong> consulta nuestra página de Preguntas Frecuentes.
	</p>
	

	</div>

	</div>
	</div>
	</div> <!-- row -->
	</div>
</section>

{% endblock %}
{% block javascripts %}

 
 {% endblock %} 
